<app-header></app-header>

<main class="main">
  <div class="artist" *ngIf="artist; else stub">
    <div class="artist__main">
      <div class="artist__info">
        <img src="/assets/images/artist.png" alt="" />
        <span class="artist-name">{{ artist.artistName }}</span>
      </div>
      <div class="artist__albums">
        <ng-container *ngIf="!albumsLoaderIsVisible">
          <app-album
            *ngFor="let album of albums"
            [album]="album"
            (click)="selectAlbum(album.collectionId)"
          ></app-album>
        </ng-container>

        <div class="loader" *ngIf="albumsLoaderIsVisible">
          <kendo-loader
            [type]="'converging-spinner'"
            [themeColor]="'info'"
            [size]="'large'"
          >
          </kendo-loader>
        </div>
      </div>
    </div>

    <div class="album-tracks">
      <ng-container *ngIf="!tracksLoaderIsVisible">
        <app-track
          *ngFor="let track of tracks"
          [track]="track"
          (click)="selectTrack(track.previewUrl)"
        ></app-track>
      </ng-container>

      <div class="loader" *ngIf="tracksLoaderIsVisible">
        <kendo-loader
          [type]="'converging-spinner'"
          [themeColor]="'info'"
          [size]="'large'"
        >
        </kendo-loader>
      </div>
    </div>
  </div>

  <ng-template #stub>
    <div class="stub">Please, choose an artist first...</div>
  </ng-template>
</main>
